{% import "errors.html" as err %}

<div class="download text-center">
	<p>Vul de code uit de e-mail in om het bestand te downloaden</p>

	<form method="POST" action="/download" class="form-inline">

		<div class="form-group">
			<input type="text" class="form-control" name="token" value="{{ token }}" />
			<button type="submit" name="submit" class="btn btn-primary">Download</button>
		</div>

		{{ err.show(errors) }}

	</form>
</div>
