<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<h5>Dei is een afgeschemrde site. Login om verder te gaan.</h5>
			<form class="form-horizontal well" method="post" action="/login">
				<div class="form-group">
					<label for="username" class="col-sm-3 control-label">Gebruikersnaam</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="username" id="username">
					</div>
					<div class="col-sm-3"></div>
				</div>

				<div class="form-group">
					<label for="password" class="col-sm-3 control-label">Wachtwoord</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" name="password" id="password">
					</div>
					<div class="col-sm-3"></div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9 text-right">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
					<div class="col-sm-3"></div>
				</div>
			</form>
		</div>
	</div>
</div>
